altair==5.0.1
matplotlib==3.7.1
networkx==2.8.4
numpy==1.25.0
pandas==2.0.2
Pillow==9.5.0
plotly==5.9.0
pywaffle==1.1.0
scikit_learn==1.2.2
scikit_learn==0.24.2
scikit_learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
streamlit==1.23.1
streamlit_option_menu==0.3.6
streamlit_plotly_events==0.0.6
